@font-face {
	font-family: gothamBold;
	src: url(fonts/Gotham-Bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: gothamBook;
	src: url(fonts/Gotham-Book.otf);
}

@font-face {
	font-family: gothamMedium;
	src: url(fonts/Gotham-Medium.otf);
	font-weight: normal;
}

body {
	margin: 0px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.banner {
	display: flex;
	flex-direction: row;
	place-content: space-between;
	width: 980px;
	height: 240px;
	background-color: #faf8f8;
	position: relative;
}

.imgLogo {
	width: 100px;
	height: 100px;
	position: absolute;
  top: 8px;
  left: 16px;
}

.productImg {
	width: 490px;
	height: 100%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}

.infoText {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;

}

h1 {
	font-family: gothamBold, serif;
	color: #6f6f6f;
	text-transform:uppercase;
}

h2 {
	/* font-family: gothamBold, serif; */
	font-family: gothamBook, sans-serif;
	font-size: small;
	padding: 10px 20px;
	margin: 0px;
	color: #6f6f6f;
	text-transform:uppercase;
}

button {
	padding: 0px;
	border: solid 1px white;
	border-radius: 50px;
	border-top-style: groove;
	/* border: none; */
}

button :hover {
	border-radius: 50px;
	cursor: pointer;
	background-color: #6f6f6f;
	color: white;
}

.imgLogoBlack {
	position: absolute;
  bottom: 8px;
  right: 16px;
}
