body {
	margin: 0px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
.banner {
	display: flex;
	flex-direction: row;
	place-content: space-between;
	width: 980px;
	height: 240px;
	background-color: #f3f3f3;
	position: relative;
}
.imgSection{
  position: relative;
}
.imgLogo {
	width: 100px;
	height: 100px;
	position: absolute;
  bottom: 8px;
  right: 16px;
}
.productImg {
	width: 490px;
	height: 240px;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0px 85px;
}
.headLines {
	margin-top: 35px;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	color: #82a1b4;
	text-transform:uppercase;
	font-size: x-large;
	margin-bottom: 0px;
  margin-top: 0px;
  letter-spacing: 1px;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
  padding: 16px 6px;
	margin: 0px;
	color: #82a1b4;
  text-transform:uppercase;
  letter-spacing: 1px;
  line-height: 1.6;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	padding: 1px 5px;
	margin: 0px;
  color: #ffffff;
  letter-spacing: 0.5px;
  line-height: 1.6;
}
.glossy-button {
	position: relative;
	background-color: #82a1b4;
	background-image: linear-gradient( 
	  hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 50%,
	  hsla(0, 0%, 0%, 0.3) 90%, hsla(0, 0%, 100%, 0.2)
	);
	padding: 5px 10px;
	text-shadow:
	  0 0 15px hsla(0, 0%, 100%, 1), 
	  0 2px 4px hsla(0, 0%, 0%, 0.7); 
	border: none;
	border-radius: 50px;
	box-shadow:
	  inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), 
	  inset 0 5px 20px hsla(0, 0%, 100%, 0.4);
	cursor: pointer;
	transition: transform 0.1s, box-shadow 0.1s;
  }
.glossy-button:before {
	content: '';
	display: block;
	position: absolute; 
  width: 130px;
  left: 11px;
  right: 20px;
  top: 2px;
  height: 12px;
	border-radius: 15px;
	background: linear-gradient(
	  hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0) );
  } 
.glossy-button:hover {
  transform: scale(1.05);
  box-shadow:
  inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
  inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
}
